[Unit]
Description=ffl-testing on port %i

Requires=ffl-testing@%i.socket
After=ffl-testing@%i.socket

[Service]

# change this to wherever you run FFL-Testing
# NOTE: don't run it as root!!!!!! but i did but you should not
WorkingDirectory=/root/FFL-Testing
ExecStart=/root/FFL-Testing/ffl_testing_2
# --port/--server are assumed from LISTEN_FDS
# TODO ADD SANDBOXING???

[Install]
WantedBy=multi-user.target
